
* {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Arial;
}
html {
    /* overflow-x: hidden; */
}

body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    color: black;
    /* padding-left: 20px;
    padding-right: 20px; */
}

p {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px;
        /* padding-top: 0%; */
    }
}


.content {
    min-height: 800px;
    /* border: solid 2px pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 50px;
    margin-right: 50px; */
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
        /* text-align: left; */
    }
}

.hero-section img {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
object-fit: cover;
}




/* Main section styles */

.desktop-image {
    display: block;
    max-width: 100%; 
}


.mobile-image {
    display: none;
    width: 100%;
    object-fit: cover;
}

/* Show mobile image on screens up to 768px width */
@media (max-width: 768px) {
    .desktop-image {
        display: none;
    }
    .mobile-image {
        display: block;
    }
}


.youtube-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Add font-family */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

}

@media (max-width: 768px) {
    .youtube-button {
        font-size: 15px;
    }
}

/* Menu styles */
nav {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: lightpink;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
}

/* Hide menu on mobile devices */
@media (max-width: 768px) {
    nav {
        display: none;
    }
}


@media (max-width: 768px) {
    #about, #patreon, #shop, #contact {
        /* display: none; */
        height: auto;
    }
}

/* Social media icons */
.social-icons {
    margin-top: 20px;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;

}

.icon {
    width: 60px;
    margin-right: 10px;
}

/* Buttons for Patreon and Shop sections */
.patreon-button, .shop-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightpink;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px; /* Add more space above the buttons */
}

/* Back to top button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: lightpink;
    opacity: 0.8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.back-to-top:hover {
    background-color: black;
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
}


.patreon-image {
    /* display: none; */
    max-width: 400px;
    margin-bottom: 20px;
}

.shop-image {
   width: 100%;
}


.quick-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px dotted lightpink;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .quick-news {
    margin: 20px 20px;
    }
    .news-heading {
        font-size: 20px !important;
        font-weight: bold;
    }
}

.news-heading {
    font-size: 30px;
    padding-bottom: 20px;
    text-transform: capitalize;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    padding: 10px;
    font-size: 15px;
    color: white;
}

@media (max-width: 768px) {
    footer {
        font-size: 12px;
    }
}

  .youtube-icon-menu {
    font-size: 40px; 
    /* margin-left: 40px; */
  }
  

  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .not-found a {
    text-decoration: underline;
    color: black;
    font-size: 24px;
  }


  .hero-logo-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 20px 20px;
  }

  .logo {
    color: black;
    font-size: 70px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    .logo {
        font-size: 40px;
        text-align: center;
    }
  }

  .hey-image {
    width: 100%;
  }

  .break-space {
    padding-top: 30px;
  }